body {
  margin: 0px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  overflow:hidden;
  background-color:  #4C687F;
}

.panel {    
  display: flex;
  justify-content: center;
  align-items: center
}

.header {
  background: #4C687F;
  text-align: center;
  color:white;
  font-weight: 600;
  font-size: 40px;
}

.sideBarResizeContainer {
  width: 30%;
}
.sidebar {
  background: #7F9BB2;
  min-width: 200px;
  width: 400px;
  width:100%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}


.withMargin {
  margin: 10px;
  box-sizing: border-box;
}

.content {
  flex-grow: 1;  
  background:#4C687F 
}

.customHandle {
  cursor: ew-resize;
  width: 10px;
  height: 10px;
  margin: 0px -5px;
  background: lightblue;
  border: 2px solid gray;
  border-radius: 2px;
  text-align: center;
  z-index: 99999;
  overflow: hidden;
  display: flex;
  align-items: center ;
}

.customResizeBorder {
  cursor: ew-resize;
  width: 5px;
  background: gray;
  display: flex;
  z-index: 99999;
  align-items: center ;
  align-content: center ;
  justify-content: center;
  overflow: visible;

}

.layoutRoot {
  display: flex;
  background: #4C687F;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.absoluteLayout {
  height: 600px;
  position: relative;
  justify-content: center;
  align-items: center;
}
.scaledLayout {
  width: 125%;
  left: -12.5%;
  transform: scale(0.75);
  margin-top: -7.5%;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:#b9c5cf;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px;
}
.box .text {
  text-align: center;
}

.hover-handles .react-resizable-handle {
  display: none;
}
.hover-handles:hover .react-resizable-handle {
  display: block;
}
.absolutely-positioned {
  position: absolute !important;
}
.left-aligned {
  left: 0;
}
.right-aligned {
  right: 0;
}
.top-aligned {
  top: 0;
}
.bottom-aligned {
  bottom: 0;
}

.custom-box {
  overflow: visible;
}
.custom-handle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #1153aa;
  opacity: 0.75;
  border-radius: 4px;
}
.custom-handle-sw {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.custom-handle-se {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}
.custom-handle-nw {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.custom-handle-ne {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}
.custom-handle-w,
.custom-handle-e {
  top: 50%;
  margin-top: -4px;
  cursor: ew-resize;
}
.custom-handle-w {
  left: -4px;
}
.custom-handle-e {
  right: -4px;
}
.custom-handle-n,
.custom-handle-s {
  left: 50%;
  margin-left: -4px;
  cursor: ns-resize;
}
.custom-handle-n {
  top: -4px;
}
.custom-handle-s {
  bottom: -4px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4C687F;
  color: white;
  text-align: center;
}